*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* selettore avanzato */
header, footer, .sezione1, .sezione2{
    margin: 10px auto;
    width: 800px;

}
header{
    background-color: rgb(185, 110, 255);
    height: 60px;
}
footer{
    height: 30px;
    background-color: rgb(80, 0, 150);
    margin-top: 10px;
}
.sezione1{
    background-color: rgb(200, 160, 115);
    height: 300px;
}

/* sulla sezione centrale uso float:left per gli elementi interni e clearfix per il contenitore, per la classe row */
.sezione2{
    background-color: rgb(0, 0, 255);
}
.colonna_laterali{
    background-color: rgb(135, 206, 250);
    float: left;
    height: 320px;
    width: 20%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
    padding-bottom: 10px;
}
/* fine sezione centrale */

.sezione_sottotitolo{
    height: 50px;
    background-color: rgb(135, 206, 250);
    margin-bottom: 10px;
}
.colonna_centrale{
    background-color: rgb(135, 206, 250);
    float: left;
    width: calc( 100% - 40% - 20px);
    height: 320px;
    margin: 0 10px;
}

